html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.keyboard-input {
  height: 20%;
}

.touchpad {
  height: 50%;
  background-color: gray;
}

.container {
  height: 100%;
}

.pad {
  display: flex;
  flex-flow: row wrap;
}

.mouse-buttons {
  height: 30%;
}

.mouse-class {
  height: 100%;
}

.giroscope-button-bg {
  background-color: gray;
  height: auto;
  text-align: center;
  padding: 5px;
}

.giroscope-button {
  color: transparent;
  height: 90px;
  width: 90px;
  border-width: 4px;
  background-color: white;
  border-color: black;
  text-align: center;
  align-content: center;
  border-radius: 100px;

}

.giroscope-button:active{
  background-color: #DC143C;

}
